<h1> Transactions </h1>

<form action="/transactions" method="get">

  <h2>Total spent:</h2>

  <tr>
    <div class="total">
      <td>£<%= @total %></td><br>
    </div>
    <br>
    <br>
  </tr>
  <label>
    <select name="tag_name" class="select">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
  </label>
  <input class="add_transaction" type="submit" name="submit" value="Update total spent"> <br>
</form>

<h3>Total spending by tag:</h3>

<table>
  <tr>
    <% for tag in @tags %>
    <th><%= tag.name %></th>
    <% end %>
  </tr>
  <tr>
    <% for tag in @tags %>
    <td>£<%= Transaction.total_spend_tag(tag.id) %></td>
    <% end %>
  </tr>
</table>
<br>


<h3>Add a new transaction:</h3>

<form action="/transactions" method="post" >
  Amount:<br>
  <input type="text" name="amount"><br>
  <label>
    <br>

  Tag:<br>
  <div>

    <input class="textbox" placeholder="Create new tag" type="text" name="tag">

  </div><br>
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
  </label>
  <br><br>

  <label>

  Merchant:<br>
  <div>
    <input class="textbox" placeholder="Create new merchant" type="text" name="merchant"><br>

  </div><br>
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>
  <br>

  <br>
  <input class="add_transaction" type="submit" name="submit" value="Add transaction"> <br>

</form>

<br>
<br>
<table class="table_all">
  <tr>
    <th>Transaction amount</th>
    <th>Tag</th>
    <th>Merchant</th>
  </tr>

  <% for transaction in @transactions %>

  <tr>
    <td>£ <%= transaction.amount %></td>
    <td><%= transaction.tag%></td>
    <td><%= transaction.merchant %></td>
  </tr>
  <% end %>
</table>
