<h1> Transactions </h1>

<form action="/transactions" method="post" >
  Amount:<br>
  <input type="text" name="amount"><br>

  <label>
    <br>

  Tag:<br>
  <div>
    <input class="textbox" placeholder="Create new tag" type="text" name="tag"><br>

  </div><br>
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name.capitalize %></option>
      <% end %>
    </select>
  </label>
  <br><br>

  <label>
    <br>

  Merchant:<br>
  <div>
    <input class="textbox" placeholder="Create new merchant" type="text" name="merchant"><br>

  </div><br>
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name.capitalize %></option>
      <% end %>
    </select>
  </label>
  <br><br>

  <br>
  <input type="submit" name="submit" value="Add transaction"> <br>

</form>


<br>
<table>
  <tr>
    <th>Transaction amount</th>
    <th>Tag</th>
    <th>Merchant</th>
  </tr>

  <% for transaction in @transactions %>

  <tr>
    <td><%= transaction.amount %></td>
    <td><%= transaction.merchant.capitalize %></td>
    <td><%= transaction.tag.capitalize%></td>
  </tr>
  <% end %>
</table>
